bin/

obj/

.vs

Logs/

packages/

*.nupkg

*.nuspec

*.class

.metadata/

log/

out/

tmp/

gen/


bin/

build/

files/


.settings/

gene/


log/

public/



.gradle/
.idea/

RemoteSystemsTempFiles/

.recommenders/

public/

build/

maven_push.gradle
